body {
  background-color: #343434;
}

.container.gallery-container {
  background-color: #070707;
  min-height: 100vh;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
}

.degrade {
  background-image: linear-gradient(to right, #63084d, #f9f871);
  color: black;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tz-gallery {
  padding: 40px;
}

.tz-gallery .lightbox img {
  width: 100%;
  margin-bottom: 30px;
  transition: 0.2s ease-in-out;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.tz-gallery .lightbox img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

.tz-gallery img {
  border-radius: 4px;
}

.baguetteBox-button {
  background-color: transparent !important;
}

@media (max-width: 768px) {
  body {
    padding: 0;
  }

  .container.gallery-container {
    border-radius: 0;
  }
}

footer p {
  margin-bottom: 0px;
}

/* footer do site */
.redesocial a {
  text-decoration: none;
}

.redesocial i {
  color: #f9f871;
  font-size: 28px;
  transition-duration: 0.3s;
}

.redesocial #gmail i:hover {
  color: #63084d;
}

.redesocial #linkedin i:hover {
  color: #63084d;
}

.redesocial #github i:hover {
  color: #63084d;
}

.redesocial #whatsapp i:hover {
  color: #63084d;
}

/*barra de navegação personalizada*/
body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background-image: linear-gradient(to bottom, #f9f871, #63084d);
}

body::-webkit-scrollbar-thumb {
  background-color: #63084d;
}

.btn-degrade {
  background-image: linear-gradient(
    to right,
    #f9f871 0%,
    #63084d 50%,
    #f9f871 100%
  );
  padding: 12px 10px;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  border-radius: 50px;
  border: 0px;
}

.btn-degrade:hover {
  background-position: right center; /* change the direction of the change here */
}

/*video*/
.responsive-video {
  max-width: 500px;
  margin: auto;
}

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
}